@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

@font-face{
    font-family: "NEXTART";
    src: url('fonts/NEXTART-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

body{
    margin: 0;
    background-color: #E5E7EB;
    font-family: "Jost", sans-serif;
    color: black;
    font-family: "Nunito Sans", sans-serif;
}

.container{
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 15px;
}

.button{
    padding: 12px 24px 12px 24px;
    background-color: #1A3E3E;
    border-radius: 4px;
    letter-spacing: 1.2%;
}

.button:hover{
    background-color: #163535;
    transition: 0.2s;
}

.header{
    background-image: url(img/background.png);
    height: 985px;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.header-up{
    padding-top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.header-nav ul{
    display: flex;
}

.header-el{
    padding-right: 24px;
}

.header-el:nth-child(6){
    padding-right: 0;
}

.header-el a{
    font-size: 16px;
    font-weight: 600;
    color: #FDFDFD;
}

.header-el a:hover{
    color: #dbd7d7;
    transition: 0.2s;
}

.li-active a:hover{
    color: #FDFDFD;
}

.li-active{
    padding-right: 0;
    padding-left: 50px;
}

.header-down{
    padding-top: 463px;
}

.header-down h1{
    font-family: "NEXTART";
    font-size: 50px;
    letter-spacing: 2%;
    max-width: 1080px;
    color: #FDFDFD;
    text-align: left;
}

.header-form{
    margin-top: 41px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
}

.header-form-wrapper{
}

form {
    display: flex;
}

.input-wrapper:first-child{
    padding: 40px 24px 40px 30px;
}

.input-wrapper:last-child{
    padding: 40px 20px 40px 0;
    
}

.input-wrapper{
    padding: 40px 24px 40px 0;
}

.input-wrapper p{
    padding:8px 8px 0 8px;
    text-transform: lowercase;
    font-size: 14px;
    font-weight: 300;
    color: #FDFDFD;
}


option{
    background-color: #1A3E3E;
}

#location, #date{
    background: none;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 8px;
    width: 270px;
    height: 52px;
    padding: 0 16px 0 16px;
    color: #FDFDFD;
    color-scheme: dark;
}

#button-input{
    width: 213px;
    height: 52px;
    border-radius: 4px;
}

/*media*/

@media (max-width: 1188px){
    .container{
        max-width: 960px;
    }

    .header-form{
        background-color: rgba(255, 255, 255, 0);
    }
    .input-wrapper.last{
        padding: 0 ;
    }

    .header{
        height: 600px;
    }

    .header-down {
        padding-top: 270px ;
    }

    .header-down h1 {
        font-size: 45px;
        width: 870px;
    }

    .lost{
        display: none; 
    }

    
}


@media (max-width: 960px){
    .container{
        width: 758px;
    }

/*burger menu*/

.li-active{
    display: none;
}

    .menu{
        display: flex;
    }

.menu li{
        margin: 0 25px 0 0;
        list-style: none;
    }

.menu li:last-child{
        margin: 0;
    }
    
.menu li a{
        text-decoration: none;
         color: #FDFDFD;
         line-height: 100%;
         font-family: "Jost", sans-serif;
         font-size: 16px;
         font-weight: 400;
    }

.menu li a:hover {
    color: #F2BE22;
}

.burger__icon{
        width: 30px;
        height: 22px;
        position: relative;
        cursor: pointer;
        margin-left: 16px;
        margin-top: 8px;
    }

.burger__icon span, ::after, ::before{
        height: 1px;
        min-width: 100%;
        background-color: #FDFDFD;
        position: absolute;
        left: 0;
        transition: all .3s ease 0s;
    }
.burger__icon::after, &::before{
        content: '';
    }
.burger__icon span{
        top: calc(50% - 1px);
    }
.burger__icon::after{
        top: 0;
    }
.burger__icon::before{
        bottom: 0;
    }
.active span{
        transform: rotate(-45deg);
    }
.active::after{
            transform: rotate(45deg);
            top: calc(50% - 1px);
        }
.active::before{
            width: 0px;
        }

.burger__icon{
            display: block;
        }
.menu{
            position: fixed;
            top: 0;
            left: 0;
            transform: translateX(-100%);
            opacity: 0;
            visibility: hidden;
            transition: all .3s ease 0s;
            height: 100%;
            width: 100%;
            background-color: #1A3E3E;
            flex-direction: column;
            padding: 30px;
}
.menu li{
    margin: 0 0 20px 0;
}

.menu.active{
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    padding-top: 48px;
}

/*burger menu*/

.header-down h1{
    font-size: 35px;
    width: 700px;
}

}

@media (max-width: 758px){
    .container{
        width: 580px;
    }

    .header-down h1{
        font-size: 28px;
        width: 550px;
    }
}


@media (max-width: 580px){
    .container{
        width: 345px;
    }

    .header-down h1{
        font-size: 27px;
        width: 330px;
        fo
    }
}